@model PhoneViewModel[]


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/img/product-2.jpg" alt="">
                        </div>
                        <h2>@item.PhoneBrand @item.PhoneModel</h2>
                        <div class="product-carousel-price">
                            <ins>@item.Price BY</ins> 
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" asp-controller="SinglePage" asp-action="GetSinglePage" asp-route-id=@item.Id>Single page</a>
                        </div>
                    </div>
                </div>
            }

          
        

         
        </div>


    </div>
</div>


